<title>Pitchsound サインアップ</title>
<div class="container_demo">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <form action="sign_up" autocomplete="on"> 
      <h1> Sign up </h1>
      <%= f.label :username %><br>
      <%= f.text_field :username, placeholder: 'Your username', :class => 'search__query'%><br>
      <%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true, placeholder: 'Your email', :class => 'search__query' %><br>
      <%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br>
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Your password', :class => 'search__query' %><br>
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Please confirm your password', :class => 'search__query' %><br>
    <div class="field">
      <%= f.file_field :avatar, :class => 'search__query' %>
    </div>
    <div class="signin">
      <%= f.submit :class => 'actions' %>
    </div>
    <p class="change_link">
      Already a member ?<br>
      <%= link_to 'Login', "/users/sign_in", method: :get %>
    </p>
  <% end %>
</div>

<footer>
  <div class="tab_contents clearfix">
    <div class="tab1-2" name="tab1">            <%= link_to 'Search', "/music", method: :get , class: "tabmenu"%>
    </div>
    <div class="tab2-2" name="tab2">
    <%= link_to 'Login', "/users/sign_in", method: :get , class: "tabmenu"%>
    </div>
  </div>

</footer>

</body>
</html>