<title>Pitchsound コメント</title>
<div class="row">
    <%= link_to "投稿一覧へ戻る", :back %>
</div>
<div class="comments-title">
  <p class="username">Title：<%= @upload_file.title %></p>
  <div class="play">
    <a class="playbutton" onClick="sound()">再生する</a>
  </div>
  <audio  id="sound-file" controls src= <%= @upload_file.file %>>
  </audio>
</div>
<div class="comments-content clearfix">
  <p class="comments">コメント</p>
  <HR color="#191970">
  <ul class="list-comments">
    <% @comments.reverse_order.each do |comment| %>
    <li class="commentlist" style="border-bottom: dotted 1px">
      <h2>ニックネーム：
      <span><i class="text-xxsmall" title=""></i></span><%= comment.nickname %>
      </h2>
      <h2>評価
        <span class="rating-star"><i class="star-actived rate-<%= comment.rate %>0"></i></span>
      </h2>
      <h2>コメント：</h2>
      <p>
        <%= comment.comments %>
      </p>
    </li>
    <% end %>
  </ul>
</div>
<footer>
  <div class="tab_contents clearfix">
    <div class="tab1-1" name="tab1">
     <%= link_to 'Search', "/music", method: :get , class: "tabmenu"%>
    </div>
    <div class="tab2-1" name="tab2">
      <% if user_signed_in? %>
        <%= link_to 'Mypage', user_path(current_user), method: :get , class: "tabmenu"%>
      <% else %>
        <%= link_to 'Login', "/users/sign_in", method: :get , class: "tabmenu"%>
      <% end %>
    </div>
  </div>
</footer>
</body>
</html>

<footer>
<div class="uploadcontents">
<% @comment = Comment.new %>
  <h2 class="whitefont">
    コメントする

  <%= form_for @comment, url: music_uploader_comments_path, method: :post do |f| %>
    <%= f.hidden_field :uploader_id, :value => @upload_file.id %>
    <%= f.text_field :nickname, :class => "nicknamefield", placeholder: 'ニックネーム' %>
    <br>
    <%= f.label :評価 %>
    <%= f.number_field :rate, placeholder: '評価', value: 1, max: 10, min: 1, :class =>"ratefield" %>
    <br>
    <%= f.text_field :comments, :class => "commentsfield", placeholder: 'コメントを入力' %><br>
    <%= f.submit "Upload", :class => "uploadbutton" %>
    </h2>
<% end %>
</div>
</footer>