
<title>Pitchsound マイページ</title>

<body>


    <div class="userprofile">
      <div class="user">
      <p class="username"><%= current_user.username %><span>さんのマイページ</span></p></div>
      <div class="picture"><%= image_tag  current_user.avatar, :width => "500px", :height => "500px" %></div>
    </div>

  <div class="userupload">
        <h2><%=  current_user.username %> <span>さんのアレンジ一覧</span></h2>
  </div>


<div class="blank">
  <ul class="mypage-list">
  <div class="list-music">
  <% @upload_file.each do |upload_file| %>
    <ul class="list-menu">
      <div class="right-content">
        <li>
            <p class="username"><%= upload_file.songtitle %>のアレンジ
          <br>
            <%= upload_file.title %>
            </p>
            <%= link_to 'コメント一覧', music_uploader_comments_path(upload_file.music_id, upload_file.id), method: :get , class: "upload-yours clearfix", id: "post_a"%>
          <ul>
            <div class="play">
              <a class="playbutton" onClick="sound()">再生する</a>
            </div>
            <audio id="sound-file" controls src= <%= upload_file.file %>>
            </audio>
          </ul>
    <% if user_signed_in? && current_user.id == upload_file.user_id %>
      <h1><%= link_to '編集', edit_music_uploader_path(upload_file.music_id,upload_file.id), method: :get %>
      <%= link_to '削除', music_uploader_path(upload_file.music_id,upload_file.id), method: :delete %></h1>
    <% end %>
        </li>
      </div>
    </ul>
  <% end %>
  </div>
  </ul>
</div>
  <footer>
    <div class="tab_contents clearfix">
            <div class="tab1-2" name="tab1">            <%= link_to 'Search', "/music", method: :get , class: "tabmenu"%>
            </div>
            <div class="tab2-2" name="tab2">
            <% if user_signed_in? %>
              <%= link_to 'Mypage', user_path(current_user), method: :get , class: "tabmenu"%>
            <% else %>
            <%= link_to 'Login', "/users/sign_in", method: :get , class: "tabmenu"%>
          <% end %>
              <!-- <a href="#tab2" class="tabmenu">Mypage</a> -->
              <!-- <%= link_to 'ログイン', "/users/sign_in", method: :get , class: "tabmenu"%> -->
              <!-- <%= link_to 'ログアウト', "/users/sign_out", method: :delete , class: "tabmenu"%> -->
            </div>
    </div>
</footer>

</body>


</html>


