<title>Pitchsound ログイン</title>
<div class="container_demo">
  <div class="login" class="animate form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <p>Log in</p>
    <p><br>
    <%= f.email_field :email, autofocus: true, :placeholder => 'Your email', :class => 'search__query' %><br><br>
    <%= f.password_field :password, autocomplete: "off", :placeholder => 'Your Password', :class => 'search__query' %><br>
    </p>
    <div class="row">
      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me, :class => 'col-xs-6' %> <%= f.label :パスワードを記憶 %></div>
      <% end %>
      <div><%= f.submit "login", :class => 'submit' %>
      </div>
    </div>
  <% end %>
<div class="more_link_box">
  <strong><h2>まだアカウントを持っていませんか？</h2></strong>
  <%= link_to 'sign up', "/users/sign_up", method: :get , class: "signup"%>
</div>
</div>
</div>

<footer>
  <div class="tab_contents clearfix">
    <div class="tab1-2" name="tab1"> <%= link_to 'Search', "/music", method: :get , class: "tabmenu"%>
    </div>

    <div class="tab2-2" name="tab2">
    <%= link_to 'Login', "/users/sign_in", method: :get , class: "tabmenu"%>
    </div>
  </div>
</footer>

</body>
</html>