  <% if user_signed_in? %>
                <div class="entry_button" style="right: 30%">
                  <%= link_to 'Sign Out', "/users/sign_out", method: :delete %>
                </div>

              <% end %>
  <div>
<%= form_tag('/music/uploader/search', method: :get) do %>
                <input class="search__query" name="keyword" placeholder="曲名で検索" type="text" value=""><button class="btn-search" songtitle="検索" type="submit"><i class="icon-search"></i></button></input>
              <% end %>


</form>
  </div>

<ul id="list"></ul>
 <div id="search">


<div class="insert_youtube">

  </div>

</div>

  <h2 class="new">検索結果</h2>


<% @upload_file.reverse_order.each.with_index do |upload_file, num| %>
<ul class="list-menu">


  </div>
  <div class="right-content">

  <li>
  <a href="#">
    <p class="username">Username:<%= upload_file.user_id %></p>

   <br>

    <a href="#">Title:
    <%= upload_file.title %><br>
    <% @music = Music.where(id: upload_file.music_id) %>
    <%= link_to 'コメント一覧', music_uploader_comments_path(@music[0], upload_file.id), method: :get , class: "upload-yours clearfix", id: "post_a"%>
    </a>

    <ul>
    <audio controls src= <%= upload_file.file %>>
    </audio>

    </ul>
  </a>
  </li>



  </div>
<% end %>




<footer>

    <div class="tab_contents clearfix">
            <div class="tab1-1" name="tab1">
             <%= link_to 'Search', "/music", method: :get , class: "tabmenu"%>
           </div>
            <div class="tab2-1" name="tab2">
            <% if user_signed_in? %>
              <%= link_to 'Mypage', "/users/:id", method: :get , class: "tabmenu"%>
            <% else %>
            <%= link_to 'Login', "/users/sign_in", method: :get , class: "tabmenu"%>
          <% end %>

            </div>
    </div>

</footer>
