<div class="searchbox">
  <p class="searchsentence">アレンジをお探しの方は</p>
  <%= form_tag('/music/uploader/search', method: :get) do %>
    <div class="searchcenter">
      <input class="search__query" name="keyword" placeholder="曲名で検索" type="text" value=""><button class="btn-search" songtitle="検索" type="submit">検索</button></input>
    </div>
  <% end %>
</div>


<div class="uploadbox">
  <p class="searchsentence2">自分のアレンジを<br>投稿したい方は</p>
  <div class="searchcenter">
    <% if user_signed_in? %>
      <%= form_tag('/music/search', method: :get) do %>
        <input class="search__query" name="songtitle" placeholder="投稿したい曲を検索" type="text" value=""><button class="btn-search2" songtitle="検索" type="submit">検索</button></input>
      <% end %>
      <% else %>
        <%= link_to 'Login！', "/users/sign_in", method: :get , class: "tabmenu"%>
      <% end %>
  </div>
</div>

<div class="blank">
<div class="new">☆What's new☆</div>
<ul class="list-music">
<% UploadFile.all.reverse_order.each do |upload_file| %>
  <ul class="list-menu">
    <div class="right-content">
      <li class="border">
        <p class="username">曲名：<%= upload_file.songtitle %><br>
        タイトル:
          <%= upload_file.title %><br>
        </p>
        <h2>(Userid:<%= upload_file.user_id %>)<br></h2>
        <% @music = Music.where(id: upload_file.music_id) %>

        <%= link_to 'コメント一覧', music_uploader_comments_path(@music[0], upload_file.id), method: :get , class: "upload-yours clearfix", id: "post_a"%>
        <ul>
      <div class="play">
        <a class="playbutton" onClick="sound()">再生する</a>
      </div>
          <audio id="sound-file" controls src= <%= upload_file.file %> class="audiosize">
          </audio>
        </ul>
      </li>
    </div>
  </ul>
<% end %>
</ul>
</div>



<footer>
  <div class="tab_contents clearfix">
    <div class="tab1-1" name="tab1">
     <%= link_to 'Search', "/music", method: :get , class: "tabmenu"%>
   </div>
    <div class="tab2-1" name="tab2">
      <% if user_signed_in? %>
        <%= link_to 'Mypage', user_path(current_user), method: :get , class: "tabmenu"%>
      <% else %>
        <%= link_to 'Login', "/users/sign_in", method: :get , class: "tabmenu"%>
  <% end %>
    </div>
  </div>
</footer>
