




    <h3>
      Congratulations! You are the first to upload this song!
      アレンジのオリジナル曲を登録してください。
    </h3>


  <form id="search" onsubmit="return false;">
    <input type="text" class="textbox" value=<%= @songtitle%> id="q" size="40" name="songtitle">
    <button type="submit" value="検索" class="btn"><span aria-hidden="true"></span></button>
  </form>


    <%= form_for @music, :url => {:action => 'create'} do |f| %>
      <%= f.hidden_field :songtitle %>
      <%= f.label :uid, "動画のURL" %>
      <%= f.text_field :uid %>
      <%= f.submit "この曲のアレンジを投稿する" %>

    <% end %>

<form id="youtube" onsubmit="return false;">

<div class="insert_youtube">
</div>

</form>

