<h3 class="newfont">
      Congratulations!<br>You are the first to upload this song!<br>

</h3>
<h3 class="newfont2">
  <form id="search" onsubmit="return false;">
    <input type="text" class="textbox" value=<%= @songtitle%> id="q" size="40" name="songtitle">
    <button type="submit" value="この曲の動画を検索" class="btn"><span>検索</span></button>
  </form>
<%= form_for @music, :url => {:action => 'create'} do |f| %>
  <%= f.hidden_field :songtitle, value: @songtitle %>
  <%= f.label :uid, "以下の検索結果から選択" %>
  <%= f.text_field :uid, :class => "urlfield", :placeholder => "またはYoutubeの動画IDをここに貼り付ける" %><br><br>
  <%= f.submit "この曲のアレンジを投稿する", :class => "registervideo" %>
<ul class="list-videos">
  <div class="insert_youtube">
  </div>
</ul>
<% end %>
</h3>


<footer>

     <div class="tab_contents clearfix">
            <div class="tab1-1" name="tab1">
             <%= link_to 'Search', "/music", method: :get , class: "tabmenu"%>
           </div>
            <div class="tab2-1" name="tab2">
            <% if user_signed_in? %>
              <%= link_to 'Mypage', user_path(current_user), method: :get , class: "tabmenu"%>
            <% else %>
            <%= link_to 'Login', "/users/sign_in", method: :get , class: "tabmenu"%>
          <% end %>

            </div>
    </div>

</footer>