<% @music.reverse_order.each do |music| %>
<ul class="list-menu">
  <div class="right-content">
    <ul>
      <div class="videoresult"><br>
        <p class="titlesearch">曲名:
        <%= music.songtitle %></p>
        <iframe width="800" height="450" src="https://www.youtube.com/embed/<%= music.uid %>" frameborder="0" allowfullscreen></iframe>
      </div>
    </ul>
    <%= link_to 'この曲で決定', music_path(music), method: :get , class: "upload-yours clearfix", id: "post_a"%>
  </div>
<% end %>

<footer>
  <div class="tab_contents clearfix">
    <div class="tab1-1" name="tab1">
     <%= link_to 'Search', "/music", method: :get , class: "tabmenu"%>
    </div>
    <div class="tab2-1" name="tab2">
    <%= link_to 'Mypage', user_path(current_user), method: :get , class: "tabmenu"%>
    </div>
  </div>
</footer>