<ul class="list-menu">
  <div class="right-content">
    <ul>
      <div class="videoresult"><br>
        <p class="titlesearch">曲名：<%= @music.songtitle %></p>
        <iframe width="534" height="300" src="https://www.youtube.com/embed/<%= @music.uid %>" frameborder="0" allowfullscreen></iframe>
      </div>
    </ul>
  </div>
</ul>
<ul class="list-comments">
<% @upload_file.reverse_order.each do |upload_file| %>
  <ul class="list-menu">
  <div class="right-content">
    <li>
    <p class="username">userid:<%= upload_file.user_id %><br>
Title:
      <%= upload_file.title %><br>
    <%= link_to 'コメント一覧', music_uploader_comments_path(@music, upload_file.id), method: :get , class: "upload-yours clearfix", id: "post_a"%>
  </p>
    <ul>
  <div class="play">
    <a class="playbutton" onClick="sound()">再生する</a>
  </div>
      <audio controls src= <%= upload_file.file %>>
      </audio>
    </ul>
    </li>
  </div>
  </ul>
<% end %>
</ul>

<footer>
<div class="uploadcontents2">
<% @upload = UploadFile.new %>
  <h3 class="uploadfont">
      投稿する
    <%= form_for @upload, url: uploader_upload_path do |f| %>
      <%= f.hidden_field :songtitle, :value => @music.songtitle %>
      <%= f.hidden_field :music_id, :value => @music.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.text_field :title, placeholder: 'タイトル', :class => "titlefield" %><br>
      <%= f.file_field :file, :class => "filefield" %><br>
      <%= f.submit "Upload", :class => "uploadbutton" %>
    <% end %>
  </h3>
</footer>


  <footer>
     <div class="tab_contents clearfix">
            <div class="tab1-1" name="tab1">
             <%= link_to 'Search', "/music", method: :get , class: "tabmenu"%>
           </div>
            <div class="tab2-1" name="tab2">
            <% if user_signed_in? %>
              <%= link_to 'Mypage', user_path(current_user), method: :get , class: "tabmenu"%>
            <% else %>
            <%= link_to 'Login', "/users/sign_in", method: :get , class: "tabmenu"%>
          <% end %>

            </div>
    </div>

</footer>