<html>
  <head>
    <meta charset="UTF-8" />
<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.6667, user-scalable=0;"> 
    <link rel="stylesheet" href="style.css"> -->
    <title>Pitchsound</title>
     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
  </head>
  <body>
    <header>
       <div class="heading clearfix">
        <h1><%= link_to 'Pitchsound', "/", method: :get , class: "title" %></h1>
          <% if user_signed_in? %>
                <div class="entry_button">
                  <%= link_to 'Sign Out', "/users/sign_out", method: :delete %>
                </div>
              <% end %>
                <form method="get" action="#" id="search">
                  <div>
                  <form id="search" onsubmit="return false;">
                    <input type="text" class="textbox" placeholder="曲名で検索" id="q" size="40">
                    <button type="submit" value="検索" class="btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                <!--   <%= form_tag('/main/:main_id/music/:id', method: :get) do %>
                <input class="textbox" name="example" placeholder="曲名で検索" type="text" value="" id="q"><button class="btn" title="検索" type="submit"><i class="icon-search"></i></button></input>
              <% end %> -->
                    <!-- <input type="text" id="q" name="example" class="textBox"><input type="submit" value="検索" id="q" class="btn"> -->
                  </div>
                </form>

      </div>
    </header>


  </body>

<%= yield %>

</body>
  </html>